body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    color: darkblue;
    margin: 30px 0;
}

section {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.income-expense {
    display: flex;
    gap: 20px;
}

.income-expense div {
    flex: 1;
}

@media (max-width: 768px) {

    section {
        width: 90%;
    }

    .income-expense {
        flex-direction: column;
    }

}
#transactionList{
    margin-top:20px;
}

.transaction-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    padding:15px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.right{
    text-align:right;
}

.transaction-card button{
    margin-top:10px;
    background:red;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
}

.transaction-card button:hover{
    background:darkred;
}
#balance{
    color:#2c3e50;
    font-size:30px;
    font-weight:bold;
}

#income{
    color:green;
    font-size:24px;
    font-weight:bold;
}

#expenses{
    color:red;
    font-size:24px;
    font-weight:bold;
}
.transaction-card{
    transition:0.3s;
}

.transaction-card:hover{
    transform:translateY(-3px);
}